/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
a {
	text-decoration: none;
}

md-error {
	background: #ffff;
	padding: 7px;
	font-size: 1.2em;
	margin-bottom: 20px;
	display: inline-block;
	animation: 2s alertAnim forwards;
}

@keyframes alertAnim {from { opacity:0;
	transform: translateY(-20px);
}

to {
	opacity: 1;
	transform: translateY(0);
}

}
md-input-container {
	margin: 10px;
}
@media screen and (min-width: 1441px) and (max-width: 1681px) {
	md-card{
	margin-left: 25%;
	margin-right: 35%;
	}
	.form{
		margin:10px;
		text-align:center;
	}
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
	md-card{
	margin-left: 25%;
	margin-right: 35%;
	}
	.form{
		margin:10px;
		text-align:center;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
	md-card{
	margin-left: 25%;
	margin-right: 35%;
	}
	.form{
		margin:10px;
		text-align:center;
	}
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
	md-card{
	margin-left: 10%;
	margin-right: 10%;
	}
	.form{
		margin:10px;
		text-align:center;
	}
}
@media screen and (min-width: 569px) and (max-width: 800px) {
	md-card{
	margin-left: 10%;
	margin-right: 10%;
	}
	.form{
		margin:10px;
		text-align:center;
	}
}
@media screen and (min-width: 569px) and (max-width: 768px) {
	md-card{
	margin-left: 10%;
	margin-right: 10%;
	}
	.form{
		margin:10px;
		text-align:center;
	}
}
@media screen and (min-width: 415px) and (max-width: 568px) {
	md-card{
	margin-left: 10%;
	margin-right: 10%;
	}
	.form{
		margin:10px;
		text-align:center;
	}
}
@media screen and (min-width: 301px) and (max-width: 414px) {
	.form{
		margin:10px;
		text-align:center;
	}
}